:root {
  --primary-color: #116530;
  --background-color: #f0f3f7;
  --background-light: #f5f7f9;
  --background-dark: #c0c2c6;
  --light-grey: #9da2ad;
  --secon-color: #ffe957;
  --grey: #7a7a7b;
  --white: #ffffff;
  --dark-green: #051d0e;
  --toastify-color-success: var(--primary-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--background-dark);
  }
}

a {
  color: unset;
  text-decoration: none;
}

body,
html {
  background-color: var(--background-color);
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}
button,
input {
  border: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
